<section class="card">

  {{!-- <a href="/posts/{{id}}"></a> --}}

  <div class="card-body">
      
        <div class="list" id="title"> title : {{title}}</div>
        <div class="list" id="author"> author : {{author}}</div>
        <div class="list" id="date"> date :{{date}}</div>
        <div class="list" id="id"> date :{{id}}</div>

        {{!-- <button id="readbtn" type="submit" class="btn readbtn">read</button> --}}
        <a class="btn" onclick="window.location" aria-current="page"
          href="./viewNote/{{id}}">viewNote</a>
       
      </div>
      </a>
</section>