<section class="card">

  <div class="card-body">
      
        <div class="list" id="title"> title : {{title}}</div>
        <div class="list" id="author"> author : {{author}}</div>
        <div class="list" id="date"> date :{{date}}</div>
        <div> id: <a id="postid">{{id}}</a></div>

        <a class="btn" onclick="window.location" aria-current="page"
          href="./viewNote/{{id}}">viewNote</a>
       
      </div>
      </a>
</section>