<section class="card">

  {{!-- <a href="/posts/{{id}}"></a> --}}

  <header class="header" id="title">{{title}}</header>

  <div class="card-body">

    <button id="updateBtn" type="submit" class="btn updateBtn">update</button>
    <button id="deleteBtn" type="submit" class="btn deleteBtn">delete</button>

        <div class="list" id="date"> date :{{date}}</div>
        <div class="list" id="author"> author : {{author}}</div>
        <div class="list" id="post"> post : {{post}}</div>
        {{!-- <div class="list" id="id"> id : {{id}}</div>
        <div class="list" id="user_id"> id : {{user_id}}</div> --}}
        
      </div>
      </a>
</section>