<section class="card">

  {{!-- <a href="/posts/{{id}}"></a> --}}

  <header class="header" id="title">{{title}}</header>

  <div class="card-body">

    <a class="btn" onclick="window.location" aria-current="page"
          href="/updateNote/{{id}}">update</a>
          
    <button id="deletebtn" type="submit" class="btn deletebtn">delete</button>

        <div class="list" id="author"> author : {{author}}</div>
        <div class="list" id="post"> post : {{post}}</div>
        <div class="list"> id: <div id="postid">{{id}}</div></div>
        
      </div>
      </a>
</section>